<!DOCTYPE html>
<html lang="en">
{% include partials/head.html %}
<body {% if env.devMode %}class="debug-screens"{% endif %}>
  <main class="sm:flex">
    {% include partials/nav.html %}
    <div class="flex-grow" id="content">
      {{ content | safe }}
    </div>
  </main>
</body>
</html>
