<!DOCTYPE html>
<html lang="en">
{% include partials/head.html %}

<body>
  <main class="flex flex-col h-screen">
    {% include partials/nav.html %}
    <div class="flex-grow h-full p-4">
      {{ content | safe }}
    </div>
    {% include partials/footer.html %}
  </main>
</body>

</html>