.app-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-icon > img {
  width: 52px;
  margin-bottom: 0.65rem;
}

.app-icon > p {
  font-size: 0.7rem;
  letter-spacing: 0.025em;
}