.text-stroke-black {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: transparent;
}

.video-wrapper__16-9 {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%*9/16);
  position: relative;
}

.video-wrapper__16-9 > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}
