<nav class="z-50 flex flex-col items-center justify-between shadow bg-gray-50 sm:flex-row">
  <a class="pt-4 mx-auto sm:m-0 sm:p-4" href="/"><span class="inline-block text-3xl font-extrabold tracking-wider text-gray-800 uppercase sm:text-4xl">Dominic Ferris</span></a>
  <ul class="flex p-4 mx-auto flex-nowrap sm:m-0">
    <li class="inline">
      <a href="/projects" class="transition-all duration-500 ease-in-out hover:text-gray-500 tracking-wide text-sm sm:text-lg uppercase font-semibold text-gray-800{% if page_title == 'Projects' %} active{% endif %}">
        projects
      </a>
    </li>
    <li class="inline">
      <a href="/about" class="transition-all duration-500 ease-in-out hover:text-gray-500 tracking-wide text-sm sm:text-lg uppercase font-semibold px-8 sm:px-4 text-gray-800{% if page_title == 'About' %} active{% endif %}">
        about
      </a>
    </li>
    <li class="inline">
      <a href="/contact" class="transition-all duration-500 ease-in-out hover:text-gray-500 tracking-wide text-sm sm:text-lg uppercase font-semibold text-gray-800{% if page_title == 'Contact' %} active{% endif %}">
        contact
      </a>
    </li>
  </ul>
</nav>